.Users {
    padding: 30px;
    background-color: $mainColor;
    .user {
        padding: 15px;
        margin-bottom: 15px;
        background-color: #eee;
        border: 1px solid #ddd;
        p {
            padding: 7px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #444;
        }
    }
}
